@font-face {
    font-family: TarrgetPlatinum;
    src: url(./fonts/TarrgetPlatinumRegular-eznx.otf);
  }
@font-face {
    font-family: FallingSky;
    src: url(./fonts/FallingSky-JKwK.otf);
}

@font-face {
    font-family: NorseBold;
    src: url(./fonts/Norse-Bold.otf);
}

body {
    display: grid;
    grid-template-columns: 30% auto;
    padding: 0;
    margin: 0;
}
.sidebar {
    max-width: 100%;
}
.sidebar img {
    max-width: 100%;
}
.logo {
    background:rgba(0,0,0,0.5); 
    width: 404px;
    position: absolute;
    z-index: 1;
    top: 7rem;
    display: flex;
    font-family: NorseBold;
    font-size: 150px;
}
.odin-face{
    width: 30%;
    margin-left: 20px;
}
.odin-text {
    margin-top: 15px;
    color: white;
}

.logo > img {
    width: 50%;
    align-self: center;
}
.form {
    background: linear-gradient(#7bc7de, #e051d4);
    display: flex;
    flex-direction: column;
}
.form header {
    text-align: center;
    font-family: TarrgetPlatinum;
    font-size: 30px;
    color: silver;
}

.info {
    width: 450px;
    text-align: center;
    border: solid 3px darkorange;
    align-self: center;
    font-family: FallingSky;
}

main {
    width: 85%;
    align-self: center;
    border: solid 3px darkorange;
    margin-top: 30px;
}
main > form{
    display: flex;
    flex-wrap: wrap;
}
form > div{
    display: flex;
    flex-direction: column;
    width: 50%;
    margin-top: 10px;
    margin-bottom: 10px;
}
label{
    display: block;
    width: 150px;
    align-self: center;
    font-family: FallingSky;
}
input{
    align-self: center;
    min-height: 28px;
    border-radius: 10px;
}

.termscond {
    display: flex;
    flex-direction: row;
}

input, button {
    width : 150px;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    border: 1px solid;
    border-color: grey;
  }

.termscond > input {
    width: 15px;
    margin-left: 10px;
    margin-top: 40px;
}
.termscond label {
    display: inline-block;
    width: 350px;
    margin-left: 10px;
    margin-top: 40px;
}
button {
    min-height: 40px;
    margin-left: 126px;
    margin-top: 40px;
    background-color: green;
    border-radius: 10px;
    font-weight: bold;
}
.register > p {
    align-self: center;
}
  